video {
    width: 800px;
    height: 480px;
    left: 0px;
    top: -480px;
}

#canvas {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: block;
}
img#qq {
    width: 128px;
    background-size: cover;
    border-radius: 200px;
    box-shadow: 0px 0px 40px rgba(63, 81, 181, 0.72);
    border: 3px solid #00a0ff;
    opacity: 1;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: all 1.0s;
}

#qq:hover {
    box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 19px #fff;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); /* IE 9 */
    -moz-transform: rotate(360deg); /* Firefox */
    -webkit-transform: rotate(360deg); /* Safari å’Œ Chrome */
    -o-transform: rotate(360deg); /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.own-nav-title li a {

    font-size: 20px;
    font-weight: 200;
}

#work {
    position: static;
}

.boostrap_glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.content {
    margin:0 auto;
    text-align: center;
    color: #3bb1dc;
    text-decoration:none;
}
a{
    text-decoration: none;
}
